:root {
  --color-white: #fff;
  --color-gray: #fefefe;
  --color-gray--dark: #282828;
  --color-black: #111;
  --color-blue: #007FFF;
  --color-blue--light: #6CB4EE;
  --shadow: 0px 1px 10px 0px rgba(87, 87, 87, 0.17); 
  --content-width: 75vw;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-black);
  background: var(--color-gray);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
